#main {
    background-color: #eeefdb;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:Goldman, 'Courier New', Courier, monospace;
}

#img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#image {
    max-width: 35%;
    max-height: 35%;
}

#img-caption {
    flex: 0 0 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90%;
}

#tribute-info {
    font-family: Arial, Helvetica, sans-serif;
}

#links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

li {
    font-size: 80%;
}